# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
.env
.venv/
venv/
ENV/
env/
.python-version
pip-log.txt
pip-delete-this-directory.txt

# Notebooks
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/
*.code-workspace

# Logs
*.log

# Packaging/build
build/
dist/
*.egg-info/
